<main>

    <h2>Brand Guide</h2>
       
    
      <figure style="text-align: center;">
            <img src = "images/intro.png" alt = "Me"  height = "370" width = "327" />   
           <figcaption>Figcaption Style</figcaption>
      </figure>
    
    
        <p class="first"> 
            Welcome to Syds-Salads! This site is about a variety of different fresh and<br>
        simple salads that you can make at home. Look at the different options and decide <br>
        which ones you may want to make yourself. I made this brand<br>
        because I use to not be a fan of salads but when I realized<br>
        the different options and ways you can add to them I started enjoying them more.<br>
        </p>



        <ul>
                <li>Default html styling:</li>

                <li>Font-Family:Verdana, sans-serif;</li>

                <li>font-size: 20px;</li>

                <li>background-color: rgba(100, 228, 15, 0.226)</li>

                <li style="background-color: beige; color:rgba(100, 228, 15, 0.226);">COLOR SAMPLE</li>
        </ul>

        <ul>
            
            <li>Heading Styles:</li>

            <li>All are centered</li>

            <h1>Heading 1</h1>

               <li>Color: #28552dc5</li>

            </li>

            <h2>Heading 2</h2>

                    <li>Font Size: 25px</li>

                    <li>Color: rgba(25, 77, 27, 0.651)</li>

         

           <h3>Heading 3</h3>

                    <li>Font Size: 25px and Font Style: Italic</li>

                    <li>Color: rgba(13, 37, 17, 0.651)</li> 

         
        </ul>

<ul>

    <li>Body</li>
    <li>color: rgba(49, 54, 49, 0.945)</li>
    <li style="color: rgba(49, 54, 49, 0.945);">COLOR SAMPLE</li>

    
</ul>
    <ul>
        <li>
            Unordered list link formatting:     
        
            
                <li> Here is an example!</li>
            
                <li><a href="https://smoncur0.github.io/web250/introduction.html" style="color: #28552dc5;">SAMPLE</a> - For links within list.</li>

                <li> Text Color for links within lists: #28552dc5</li>

        </li>
    </ul>
    
    <ul>
       <li>Formatting for header links and footer links

                <li>Background-color: rgba(202, 143, 75, 0.322)</li>

                <li>Text Color: rgba(241, 219, 204, 0.863)</li>

                <li><p id="links"><a href="https://smoncur0.github.io/web250/introduction.html">SAMPLE</a></p></li>

      </li> 

        <li>Text color for Footer text with no link: rgba(78, 104, 18, 0.767)

               <li style="color:rgba(78, 104, 18, 0.767);">COLOR SAMPLE</li>

       </li>

    </ul>


    </main>
