 <main>
<h2>Contract</h2>

  <p> I, <a href="introduction.html"  style="color: gray;">Sydney M Moncur</a> agree to abide by the terms in my 
   Spring 2022 web250-N801 Database Driven Websites with my instructor, 
   D.I. von Briesen.
  </p>
  <p>I understand that all work that I do on my school and 
  personal websites will be publicly available to the world. 
  I will not put information there that is inappropriate for 
  schoolwork, or that I wish to keep private.</p>
  <p>I also understand that it is my work that counts for attendance, 
  not logins or showing up for class. As such, failure to turn in 
  assignments may show as an absences.</p>
  <p>Signed: Sydney M. Moncur, 10 January 2022</p>
</main>
