<footer>
    <h3>  
   Quick and Eazy!
    </h3>
        <p id="links">
            <a href="https://github.com/smoncur0/web250">Github Account</a> -
            <a href="https://smoncur0.github.io/">Github IO</a> -
            <a href="https://smoncur0.github.io/web250">Github Course</a> - 
            <a href="https://www.freecodecamp.org/smoncur0">FreeCodeCamp</a> -
            <a href="https://www.codecademy.com/profiles/smoncur0">Codecademy</a> -
            <a href="https://jsfiddle.net/user/smoncur0/fiddles/">JSFiddle</a> -
	    <a href="https://smoncur0.github.io/web250/index.html">TOC</a> -
            <a href="https://profile.edx.org/u/smoncur0">edX</a> -
            <a href="https://www.linkedin.com/in//">LinkedIn</a> -

        </p>
            
        <p>
	     Designed by Marie Tech &copy; 2022
        </p>
            <a href="https://validator.w3.org/check?uri=" id="validation_link_html"><img src= "images/html.png" alt="Validate HTML!"
                style= "border: 0; width: 88px; height: 31px" /></a> 
            <a href="https://jigsaw.w3.org/css-validator/check/referer?uri=" id="validation_link_css"><img src= "images/css.png" alt="Validate CSS!"
                style= "border: 0; width: 88px; height: 31px" /></a> 

<script>
		document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>

</footer>
