
<footer> 
   <p style="background-color: antiquewhite;">
   <a href="https://github.com/smoncur0">Github Account - </a> 
   <a href="https://smoncur0.github.io/">Github IO - </a> 
   <a href="https://smoncur0.github.io/web210">Github Course - </a> 
   <a href="https://www.freecodecamp.org/smoncur0">FreeCodeCamp - </a> 
   <a href="https://www.codecademy.com/profiles/smoncur0">Codecademy - </a> 
   <a href="https://www.khanacademy.org/profile/smoncur0/">Khan Academy - </a> 
   <a href="https://jsfiddle.net/user/smoncur0/fiddles/">JSFiddle - </a> 
   <a href="https://profile.edx.org/u/smoncur0">edX - </a> 
   <a href="https://www.linkedin.com/in//">LinkedIn - </a> 
	   
   <br> 
   </p>	   


   <br>Designed by &copy;Marie Tech
   <br>
<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fsmoncur0.github.io%2Fweb210%2Findex.html&checkerrorpages=yes&showsource=yes&showoutline=yes">
<img src= "images/html.png" alt="Validate HTML!"
style= "border: 0; width: 88px; height: 31px" /></a>

<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fsmoncur0.github.io%2Fweb210%2Findex.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
<img src= "images/css.png" alt="Validate CSS!"
style= "border: 0; width: 88px; height: 31px" /></a>


</footer>