<header>
  <h1> Syd's Recipes</h1>
  <h2>Sydney Moncur WEB-250</h2>
          <p id="links">
           <!--  <a href="https://smoncur0.github.io/web250/brand.html">Brand</a>  |  -->
           <a href="https://smoncur0.github.io/web250/contract.html">Contract</a> |
           <a href="https://smoncur0.github.io/web250/introduction.html">Introduction</a> |
          <!-- <a href="https://smoncur0.github.io/web250/template.html">Template</a> | -->
           <a href="https://smoncur0.github.io/web250/introduction_form.html">Introduction Form</a>

        </p>
</header>
