<h2>Introduction</h2>
   

  <figure style="text-align: center;">
        <img src = "images/intro.png" alt = "Me"  height = "370" width = "327" />   
	   <figcaption>In the South End area</figcaption>
  </figure>

<ul>
	<li>Personal background: Moved to Charlotte when I was 
    three years old. I am a middle college student and
     I began attending CPCC in 2019.</li>

	<li>Academic background:    I attended all of my schooling 
        in Charlotte. I am currently in my last year of school.
         Hopefully I will graduate with my associates degree 
         this May. </li>

	 <li>Background in this subject: The first time that I 
         was exposed to coding was in middle school.
         I signed up for the stem program as an elective
         so that I could take it with orchestra.
         I realized that I enjoyed coding after
         completing a project in that program where 
         I had to create my own game. </li>

	<li>Primary Computer Platform: I am most proficient with the recent Windows platforms. </li>
 
    <li>Courses I'm Taking & Why:
        <ul>
        <li>CTS240-N850: Project Management - I need this course to finish my degree program.</li>

        <li>WEB215-N801: Adv Markup and Scripting - I need this course to finish my degree program and I think it will help with the efficiency of my coding.</li>

        <li>CSC251-N801: Advanced JAVA Programming - I need this course to finish my degree program.</li>

        <li>WEB250-N801: Database Driven Websites - I enjoy the process of creating a website and I also need it for my degree program. </li>


        </ul>
    </li>
		
				<li>Funny/Interesting item about yourself:I have played the cello for 7 almost 8 years now.</li>
				<li> During my freetime I really enjoy cooking along with baking.</li>
</ul>
