<p style="background-color: antiquewhite;">
    <a href="https://github.com/smoncur0">Github Account - </a> 
    <a href="https://smoncur0.github.io/">Github IO - </a> 
    <a href="https://smoncur0.github.io/web210">Github Course - </a> 
    <a href="https://www.freecodecamp.org/smoncur0">FreeCodeCamp - </a> 
    <a href="https://www.codecademy.com/profiles/smoncur0">Codecademy - </a> 
    <a href="https://www.khanacademy.org/profile/smoncur0/">Khan Academy - </a> 
    <a href="https://jsfiddle.net/user/smoncur0/fiddles/">JSFiddle - </a> 
    <a href="https://profile.edx.org/u/smoncur0">edX - </a> 
    <a href="https://www.linkedin.com/in//">LinkedIn - </a> 
        