@charset "utf-8";

html {
   font-size: 100%;
   font-family:  Calibri;
   background-color: rgba(228, 15, 79, 0.267);
   font-size: 20px;
   margin: 40px;
 
}

 body { 
	margin: 40px;
	font-size: 20px;
	line-height: 1.5em;
	color: rgba(158, 32, 70, 0.945);
}

 h1 {
	text-align: center;      
   	color: rgb(219, 54, 103);
	
}
 h2 {
    text-align: center;
    font-size: 25px;
    color: rgba(219, 54, 104, 0.651);
    
}
 h3 {
    text-align: center;
    font-size: 25px;
    color: rgba(219, 54, 104, 0.651);
    font-style: italic;
}
 h4 {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    color: rgba(158, 32, 70, 0.945);
    font-style: italic;
}
header > nav > ul > li > a {
   background-color: rgba(243, 115, 30, 0.301);
   color: rgba(248, 32, 4, 0.89);

}
header > nav > ul > li > a:hover{
   background-color: rgba(196, 102, 58, 0.336);
}
p.first{
   font-size: 20px;
   text-align: center;
}
p {
  font-size: 20px;
}
 footer {
    text-align: center;
    color: rgba(92, 17, 39, 0.767);
 
}

a{
text-decoration: none;

}

p > a{
font-family: Calibri; 
color: rgba(158, 32, 70, 0.945); 
text-decoration: none;

}


ul > li > a{
   font-family: Calibri; 
   color: rgba(158, 32, 70, 0.945);  
}
ul > li > a:hover{
   
   background-color: rgba(196, 102, 58, 0.336);  
}

p#links{
	text-align: center;
	background-color: rgba(196, 102, 58, 0.336);
}
p#links > a:hover{
   
   background-color: rgba(241, 219, 204, 0.863);
}
